OPENROUTER_FREE_KEY=
OPENROUTER_BASE_URL=
MCP_SERVER_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLENDAR_REDIRECT_URI=http://localhost:4000/callback/google-calendar
GOOGLE_GMAIL_REDIRECT_URI=http://localhost:4000/callback/gmail